In [1]:
import pandas as pd
import numpy as np

/Users/ilenapeng/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv('soti-raw.csv')

In [3]:
# Replace values

# Remove the untrue
df = df.replace('Untrue of Me', np.nan)
df = df.replace('Very Untrue of Me', np.nan)

# Replace True of me with Me capital
df = df.replace('True of me', 'True of Me')

In [4]:
# Pivot df
melt_df = pd.melt(df, var_name = 'purpose', value_name = 'answer')

In [5]:
# Count number of people who answered each one for each skill
melt_df_count = melt_df.groupby('purpose').answer.value_counts().reset_index(name='count')
melt_df_count

               purpose           answer  count
0     HobbyBuildSkills  Very True of Me    148
1     HobbyBuildSkills       True of Me     71
2     HobbyBuildSkills          Neutral     17
3       HobbyEnjoyment  Very True of Me    140
4       HobbyEnjoyment       True of Me     85
5       HobbyEnjoyment          Neutral     10
6       HobbyPortfolio  Very True of Me     89
7       HobbyPortfolio       True of Me     82
8       HobbyPortfolio          Neutral     41
9   HobbyShareMessages       True of Me     99
10  HobbyShareMessages          Neutral     62
11  HobbyShareMessages  Very True of Me     52
12      HobbyVolunteer       True of Me     66
13      HobbyVolunteer          Neutral     58
14      HobbyVolunteer  Very True of Me     29

In [6]:
melt_df_count.to_csv('soti-clean.csv', index=False)